extends layouts/default

block content

  body(ng-app='yawApp')

    hi there

    div(ng-controller="AppCtrl")
      map
        div {{country}}
        div.list
          ul
            li(ng-repeat="c in cs")
              div {{c.name}}

//          ul
//            li(ng-repeat="c in countries")
//              div {{c.name}}

