extends layouts/default

block content

  body(ng-app='yawApp')

    h1 {{client}}

    div(ng-controller="AppCtrl")
      map
        div {{country}}
        div.list
              ul(ng-repeat="client in io.c track by $index")
                li
                  div(ng-repeat="c in client.selection") {{c.id}}

